
.container {
    padding-left: 17%;
}
.large-container {
    padding-left: 7%;
}
@media (max-width: 900px) {
    .large-container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}
