
.sidebar {
    background: white;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}

.shortcut-links a {
    text-decoration: none;
    color: #5a5a5a;
     height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
.side-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
}
.sidebar .side-link img {
    width: 20px;
    margin-right: 20px;
}
.sidebar .side-link.active img {
    padding-bottom: 5px;
    border-bottom: 3px solid red;
}
.subscribed-list h3 {
    font-size: 13px;
    margin-bottom: 20px;
    color: #5a5a5a;
}
.subscribed-list .side-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
}
.subscribed-list .side-link img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar {
    width: 5%;
}
.small-sidebar p {
    display: none;
}
.small-sidebar h3 {
    display: none;
}
.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
}
@media (max-width: 900px) {
    .sidebar .side-link img {
        display: flex;
    }

}
