
.play-container {
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 900px) {
    .play-container {
        padding-left: 5%;
        padding-right: 5%;
    }
}
